.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.link {
  background-color: var(--primary-color);
  width: calc(100% - calc(var(--spacer) * 2));
  border-radius: var(--spacer);
  padding: var(--spacer);
}

.link h1 {
  text-align: center;
}

.grouper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  gap: var(--spacer);
}

.start-button {
  background-color: var(--ter-color);
}
