.flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacer);
}

.flexer:last-child {
  margin-bottom: 0;
}

.numbers {
  min-width: 42px;
  text-align: center;
}

.spacer {
  width: var(--spacer);
  height: var(--spacer);
}
