.exercise-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.arrow-button {
  all: unset;
  text-align: center;
}

.add-exercise-button {
  all: unset;
  width: var(--hundo-gap);
  text-align: center;
  padding: var(--gap-s);
  border-radius: var(--gap);
  background-color: var(--next);
  font-weight: bold;
  font-size: var(--h2-fz);
  border: var(--gap-s) solid var(--next);
}

.input-h2 {
  font-size: var(--h2-fz);
}

.input-h1 {
  font-size: var(--h1-fz);
}
