@import "https://fonts.googleapis.com/css?family=Open+Sans";

html {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

:root {
  --bc: rgb(13, 0, 15);
  --bc-gra: rgb(33 0 38);
  --bc-soft: rgb(100, 44, 169);
  --text: white;
  --text-soft: rgba(200, 200, 200, 0.8);
  --next: rgb(63, 167, 214);
  --red: rgb(238, 99, 82);

  --pending-bc: rgb(167, 167, 167);

  --gap: 20px;
  --gap-s: 10px;
  --hundo-gap: calc(100% - calc(var(--gap) * 2));
  --hundo-gap-s: calc(100% - calc(var(--gap-s) * 2));

  --h1-fz: 3.24rem;
  --h2-fz: 1.62rem;
  --h2-fw: 100;
  --h3-fz: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bc);
  color: var(--text);

  width: 100%;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: var(--h1-fz);
}

h2 {
  font-size: var(--h2-fz);
  font-weight: var(--h2-fw);
}

h3 {
  font-size: var(--h3-fz);
}

a {
  all: unset;
  cursor: pointer;
}

main {
  max-width: 430px;
  width: 100%;
  padding: var(--gap);
}

.cta {
  width: var(--hundo-gap);
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--bc-soft);
  text-align: center;
}
